dist/
examples/build/
node_modules/
.nyc_output/
coverage/
.DS_Store
.idea
**/*.iml
.env
docs/*
!docs/404.html
/out/
.firebase

# Temporarily ignore GitLab CI config during migration prep
.gitlab-ci.yml
